html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 400;
    background-color: #121721;
    color: #fff;
}

h1 {
    font-size: 3rem;
    font-family: 'Montserrat';
    font-weight: 600;
}

p {
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 400;
}

article {
    text-align: center;
}

svg {
    width: 70px;
    margin-bottom: 0em;
}